body {
  margin : 0;
  display : flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.morpion {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.row {
flex : 1; /* Combinaison de 3 propriétés  */
display: flex;
}

.cell {
  flex : 1; /* pr que ceci fonctionne, il faut que le parent ait un flex +
  Cela fait la somme des flex. Ici = 3, Donc il occupera 1/3 de la surface */
  border : 1px solid black;
}
